.sidebar {
    -fx-background-color:  #2262C6;
    -fx-background-radius: 0px 50px 0px 0px;
}

.labbtn{
    -fx-text-fill:#2262C6;
    -fx-background-color:  #FEFFFD;
    -fx-background-radius:  50px;
}
.labbtn:hover{
    -fx-background-color:#c2c2c2
}

.tk_hb{
    -fx-text-fill:#2262C6;
    -fx-background-radius:  50px;
}

.tk_hb:hover{
    -fx-background-color:#c2c2c2;
}

.hide-header .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
    visibility: hidden;
    -fx-padding: -1em;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
    -fx-background-insets: 0 11 0 0;
    -fx-padding: 0 0 5px 0;
    -fx-alignment: center;
}

.table-view {
  -fx-border-width: 0 0 0 0;
  -fx-background-radius: 10 10 10 10;
}

.table-view:focused{
    -fx-background-color: derive(black, 20%);
}

.table-view .column-header .label {
    -fx-alignment: center;
    -fx-font-size: 12pt;
    -fx-font-family: 'Helvetica', Arial, sans-serif;
    -fx-padding: 15 15 15 15;
}

.table-row-cell:selected {
    -fx-background-color: grey;
    -fx-text-fill: white;
    -fx-background-insets: 0;
 }

.table-view .table-cell {
    -fx-alignment: center;
    -fx-border-color: #f0f0f0;
    -fx-border-width: 0 0 1 0;
    -fx-font-size: 12pt;
    -fx-padding: 10 0 10 0;
}