.bc_dvnh {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: black;
    -fx-border-style: dashed;
}
.bc_dvgh {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: black;
    -fx-border-style: dashed;
}
.bc_tcn {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: black;
    -fx-border-style: dashed;
}
.bc_lenhso {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: black;
    -fx-border-style: dashed;
}

.bc_nguoinhanhang {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: black;
    -fx-border-style: dashed;
}
.bc_giaygioithieu {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: black;
    -fx-border-style: dashed;
}
.bc_denngay {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: black;
    -fx-border-style: dashed;
}

.bc_soxe {
-fx-border-width: 0 0 1px 0;
    -fx-border-color: black;
    -fx-border-style: dashed;}
.bc_dvvc {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: black;
    -fx-border-style: dashed;
}

.bc_dtkd{
    -fx-border-width: 0 0 1px 0;
        -fx-border-color: black;
        -fx-border-style: dashed;
}
 .bc_dtn {
    -fx-border-width: 0 0 1px 0;
        -fx-border-color: black;
        -fx-border-style: dashed;
 }

 .bc_slbb{
    -fx-border-width: 0 0 1px 0;
     -fx-border-color: black;
     -fx-border-style: dashed;
 }
 .bc_thanhtien{
    -fx-border-width: 0 0 1px 0;
     -fx-border-color: black;
     -fx-border-style: dashed;
 }
.tbv {
    -fx-text-fill: red;
    -fx-font-weight: bold;
}